client/src/main/resources/CartWSType.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://webservice.tcf.isa.polytech.unice.fr/" name="CartWebService" targetNamespace="http://webservice.tcf.isa.polytech.unice.fr/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservice.tcf.isa.polytech.unice.fr/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://webservice.tcf.isa.polytech.unice.fr/">
            <xs:element name="addItemToCustomerCart" type="tns:addItemToCustomerCart"/>
            <xs:element name="addItemToCustomerCartResponse" type="tns:addItemToCustomerCartResponse"/>
            <xs:element name="getCustomerCartContents" type="tns:getCustomerCartContents"/>
            <xs:element name="getCustomerCartContentsResponse" type="tns:getCustomerCartContentsResponse"/>
            <xs:element name="removeItemToCustomerCart" type="tns:removeItemToCustomerCart"/>
            <xs:element name="removeItemToCustomerCartResponse" type="tns:removeItemToCustomerCartResponse"/>
            <xs:element name="validate" type="tns:validate"/>
            <xs:element name="validateResponse" type="tns:validateResponse"/>
            <xs:complexType name="getCustomerCartContents">
                <xs:sequence>
                    <xs:element minOccurs="0" name="customer_name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getCustomerCartContentsResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="cart_contents" type="tns:item"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="item">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cookie" type="tns:cookies"/>
                    <xs:element name="quantity" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="removeItemToCustomerCart">
                <xs:sequence>
                    <xs:element minOccurs="0" name="customer_name" type="xs:string"/>
                    <xs:element minOccurs="0" name="item" type="tns:item"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="removeItemToCustomerCartResponse">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="addItemToCustomerCart">
                <xs:sequence>
                    <xs:element minOccurs="0" name="customer_name" type="xs:string"/>
                    <xs:element minOccurs="0" name="item" type="tns:item"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="addItemToCustomerCartResponse">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="validate">
                <xs:sequence>
                    <xs:element minOccurs="0" name="customer_name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="validateResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="order_id" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="cookies">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="CHOCOLALALA"/>
                    <xs:enumeration value="DARK_TEMPTATION"/>
                    <xs:enumeration value="SOO_CHOCOLATE"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="UnknownCustomerException" type="tns:UnknownCustomerException"/>
            <xs:complexType name="UnknownCustomerException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="EmptyCartException" type="tns:EmptyCartException"/>
            <xs:complexType name="EmptyCartException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="PaymentException" type="tns:PaymentException"/>
            <xs:complexType name="PaymentException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="amount" type="xs:double"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="removeItemToCustomerCartResponse">
        <wsdl:part element="ns1:removeItemToCustomerCartResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCustomerCartContentsResponse">
        <wsdl:part element="ns1:getCustomerCartContentsResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="validate">
        <wsdl:part element="ns1:validate" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="addItemToCustomerCartResponse">
        <wsdl:part element="ns1:addItemToCustomerCartResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="EmptyCartException">
        <wsdl:part element="ns1:EmptyCartException" name="EmptyCartException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="UnknownCustomerException">
        <wsdl:part element="ns1:UnknownCustomerException" name="UnknownCustomerException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="PaymentException">
        <wsdl:part element="ns1:PaymentException" name="PaymentException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCustomerCartContents">
        <wsdl:part element="ns1:getCustomerCartContents" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="removeItemToCustomerCart">
        <wsdl:part element="ns1:removeItemToCustomerCart" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="addItemToCustomerCart">
        <wsdl:part element="ns1:addItemToCustomerCart" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="validateResponse">
        <wsdl:part element="ns1:validateResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CartWebService">
        <wsdl:operation name="getCustomerCartContents">
            <wsdl:input message="ns1:getCustomerCartContents" name="getCustomerCartContents">
            </wsdl:input>
            <wsdl:output message="ns1:getCustomerCartContentsResponse" name="getCustomerCartContentsResponse">
            </wsdl:output>
            <wsdl:fault message="ns1:UnknownCustomerException" name="UnknownCustomerException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeItemToCustomerCart">
            <wsdl:input message="ns1:removeItemToCustomerCart" name="removeItemToCustomerCart">
            </wsdl:input>
            <wsdl:output message="ns1:removeItemToCustomerCartResponse" name="removeItemToCustomerCartResponse">
            </wsdl:output>
            <wsdl:fault message="ns1:UnknownCustomerException" name="UnknownCustomerException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addItemToCustomerCart">
            <wsdl:input message="ns1:addItemToCustomerCart" name="addItemToCustomerCart">
            </wsdl:input>
            <wsdl:output message="ns1:addItemToCustomerCartResponse" name="addItemToCustomerCartResponse">
            </wsdl:output>
            <wsdl:fault message="ns1:UnknownCustomerException" name="UnknownCustomerException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="validate">
            <wsdl:input message="ns1:validate" name="validate">
            </wsdl:input>
            <wsdl:output message="ns1:validateResponse" name="validateResponse">
            </wsdl:output>
            <wsdl:fault message="ns1:EmptyCartException" name="EmptyCartException">
            </wsdl:fault>
            <wsdl:fault message="ns1:PaymentException" name="PaymentException">
            </wsdl:fault>
            <wsdl:fault message="ns1:UnknownCustomerException" name="UnknownCustomerException">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>