client/src/main/resources/CustomerCareWSType.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://webservice.tcf.isa.polytech.unice.fr/" name="CustomerCareService" targetNamespace="http://webservice.tcf.isa.polytech.unice.fr/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservice.tcf.isa.polytech.unice.fr/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://webservice.tcf.isa.polytech.unice.fr/">
            <xs:element name="listAllRecipes" type="tns:listAllRecipes"/>
            <xs:element name="listAllRecipesResponse" type="tns:listAllRecipesResponse"/>
            <xs:element name="register" type="tns:register"/>
            <xs:element name="registerResponse" type="tns:registerResponse"/>
            <xs:element name="track" type="tns:track"/>
            <xs:element name="trackResponse" type="tns:trackResponse"/>
            <xs:complexType name="track">
                <xs:sequence>
                    <xs:element minOccurs="0" name="order_id" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="trackResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="status" type="tns:orderStatus"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="listAllRecipes">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="listAllRecipesResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="recipes" type="tns:cookies"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="register">
                <xs:sequence>
                    <xs:element minOccurs="0" name="customer_name" type="xs:string"/>
                    <xs:element minOccurs="0" name="credit_card_number" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="registerResponse">
                <xs:sequence/>
            </xs:complexType>
            <xs:simpleType name="orderStatus">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="VALIDATED"/>
                    <xs:enumeration value="IN_PROGRESS"/>
                    <xs:enumeration value="READY"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="cookies">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="CHOCOLALALA"/>
                    <xs:enumeration value="DARK_TEMPTATION"/>
                    <xs:enumeration value="SOO_CHOCOLATE"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="UnknownOrderId" type="tns:UnknownOrderId"/>
            <xs:complexType name="UnknownOrderId">
                <xs:sequence>
                    <xs:element minOccurs="0" name="orderId" type="xs:string"/>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="AlreadyExistingCustomerException" type="tns:AlreadyExistingCustomerException"/>
            <xs:complexType name="AlreadyExistingCustomerException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="conflictingName" type="xs:string"/>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="trackResponse">
        <wsdl:part element="ns1:trackResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="UnknownOrderId">
        <wsdl:part element="ns1:UnknownOrderId" name="UnknownOrderId">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="track">
        <wsdl:part element="ns1:track" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="listAllRecipes">
        <wsdl:part element="ns1:listAllRecipes" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="register">
        <wsdl:part element="ns1:register" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AlreadyExistingCustomerException">
        <wsdl:part element="ns1:AlreadyExistingCustomerException" name="AlreadyExistingCustomerException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="listAllRecipesResponse">
        <wsdl:part element="ns1:listAllRecipesResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="registerResponse">
        <wsdl:part element="ns1:registerResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CustomerCareService">
        <wsdl:operation name="track">
            <wsdl:input message="ns1:track" name="track">
            </wsdl:input>
            <wsdl:output message="ns1:trackResponse" name="trackResponse">
            </wsdl:output>
            <wsdl:fault message="ns1:UnknownOrderId" name="UnknownOrderId">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listAllRecipes">
            <wsdl:input message="ns1:listAllRecipes" name="listAllRecipes">
            </wsdl:input>
            <wsdl:output message="ns1:listAllRecipesResponse" name="listAllRecipesResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="register">
            <wsdl:input message="ns1:register" name="register">
            </wsdl:input>
            <wsdl:output message="ns1:registerResponse" name="registerResponse">
            </wsdl:output>
            <wsdl:fault message="ns1:AlreadyExistingCustomerException" name="AlreadyExistingCustomerException">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>